extends ../../layouts/default.pug 

block main 

    h1(class="mb-4") Chỉnh sửa sản phẩm

    form(
        action=`${prefixAdmin}/products/edit/${product.id}/?_method=PATCH`
        id="form-edit-product"
        method="POST"
        enctype="multipart/form-data"
    )
        div(class="form-group")
            label(for="title") Tiêu đề
                span(style="color:red; margin-left:2px") *
            input(
                type="text"
                class="form-control"
                id="title"
                name="title"
                required
                value=product.title 
            )
        div(class="form-group")
            label(for="product_category_id") Danh mục
                span(style="color:red; margin-left:2px") *
            select(
                name="product_category_id"
                id="product_category_id"
                class="form-control"
            ) 
                option(value="") -- Chọn danh mục --
                option(value="Iphone" selected=(product.product_category_id == "Iphone" ? true : false)) Iphone
                option(value="Samsung" selected=(product.product_category_id == "Samsung" ? true : false)) Samsung
                option(value="Xiaomi" selected=(product.product_category_id == "Xiaomi" ? true : false)) Xiaomi
                option(value="Oppo" selected=(product.product_category_id == "Oppo" ? true : false)) Oppo
                option(value="Tecno" selected=(product.product_category_id == "Tecno" ? true : false)) Tecno
                option(value="Realme" selected=(product.product_category_id == "Realme" ? true : false)) Realme
        div(class="form-group form-check form-check-inline")
            input(
                type="radio"
                class="form-check-input"
                id="featured1"
                name="featured"
                value="1"
                checked=(product.featured == "1" ? true : false)
            )
            label(for="featured1" class="form-check-label") Nổi bật
        div(class="form-group form-check form-check-inline")
            input(
                type="radio"
                class="form-check-input"
                id="featured0"
                name="featured"
                value="0"
                checked=(product.featured == "0" ? true : false)
            )
            label(for="featured0" class="form-check-label") Không
        div(class="form-group")
            label(for="desc") Mô tả
                span(style="color:red; margin-left:2px") *
            textarea(
                class="form-control textarea-mce"
                id="desc"
                name="description"
                rows="5"
            ) #{product.description}
        div(class="form-wrap")
            div(class="form-group width-input")
                label(for="price") Giá
                    span(style="color:red; margin-left:2px") *
                input(
                    type="number"
                    class="form-control"
                    id="price"
                    name="price"
                    min="0"
                    value=product.price
                )
            div(class="form-group width-input")
                label(for="discount") % Giảm giá
                    span(style="color:red; margin-left:2px") *
                input(
                    type="number"
                    class="form-control"
                    id="discount"
                    name="discountPercentage"
                    min="0"
                    value=product.discountPercentage
                )
            div(class="form-group width-input")
                label(for="stock") Số lượng
                    span(style="color:red; margin-left:2px") *
                input(
                    type="number"
                    class="form-control"
                    id="stock"
                    name="stock"
                    min="0"
                    value=product.stock
                )
        div(
            class="form-group"
            upload-image
        )
            label(for="thumbnail") Ảnh
                span(style="color:red; margin-left:2px") *
            input(
                type="file"
                class="form-control-file"
                id="thumbnail"
                name="thumbnail"
                upload-image-input
            )
            img(
                src=product.thumbnail
                upload-image-preview
                class="image-preview"
            )
            button(
                type="button"
                class="close hidden-close"
            ) X
        div(class="form-group width-input")
            label(for="position") Vị trí
            input(
                type="number"
                class="form-control"
                id="position"
                name="position"
                placeholder="Tự động tăng"
                min="1"
                value=product.position
            )
        div(class="form-group form-check form-check-inline")
            input(
                type="radio"
                class="form-check-input"
                id="statusActive"
                name="status"
                value="active"
                checked=(product.status == "active" ? true : false)
            )
            label(for="statusActive" class="form-check-label") Hoạt động 
        div(class="form-group form-check form-check-inline")
            input(
                type="radio"
                class="form-check-input"
                id="statusActive"
                name="status"
                value="inactive"
                checked=(product.status == "inactive" ? true : false)
            )
            label(for="statusActive" class="form-check-label") Dừng hoạt động
        div(class="form-group")
            button(
                type="submit"
                class="btn btn-primary"
            ) Cập nhật
        