
header.header
    .container-xl
        .row.align-items-center.header-pc
            .col-3.p-0
                a.header-logo(href="/") Team Nine
            .col-5.search.px-0
                form(action="/search" method="GET")
                    .form-group.d-flex.align-items-center
                        input.form-control.input-search(
                            type="text" 
                            placeholder="Siêu phẩm Iphone 16 Pro" 
                            name="keyword"
                            value=keyword
                        )
                        button(type="submit")
                            i.fa-solid.fa-magnifying-glass
            .col-4.p-0.text-right
                a.login(href="#")
                    i.fa-solid.fa-user.mr-1
                    span.header-text Đăng nhập
                a.register.ml-2(href="#")
                    i.fa-solid.fa-user-plus.mr-1
                    span.header-text Đăng ký
                a.cart.ml-2(href="/cart")
                    i.fa-solid.fa-cart-shopping.mr-1
                    span.header-text Giỏ hàng (#{miniCart ? miniCart.totalQuantity : 0})
            .line
        .header-mobile
            .header-mtop
                .logo
                    a.header-logo(href="/") Team Nine
                .function
                    a.login(href="#")
                        i.fa-solid.fa-user
                        span.header-text Đăng nhập
                    a.register(href="#").ml-1
                        i.fa-solid.fa-user-plus
                        span.header-text Đăng ký
                    a.cart(href="/cart").ml-1
                        i.fa-solid.fa-cart-shopping
                        span.header-text Giỏ hàng (0)
            .header-mbottom.search
                form(action="/search" method="GET")
                    .form-group.d-flex.align-items-center
                        input.form-control.input-search(
                            type="text" 
                            placeholder="Siêu phẩm Iphone 16 Pro Max" 
                            name="keyword"
                        )
                        button(type="submit")
                            i.fa-solid.fa-magnifying-glass
        .row
            ul.header-menu
                li
                a(href="/products")
                    i.fa-solid.fa-mobile.mr-1
                    | Điện thoại
                li
                a(href="/news")
                    i.fa-solid.fa-newspaper.mr-1
                    | Tin tức
                li
                a(href="/events")
                    i.fa-solid.fa-calendar-days.mr-1
                    | Sự kiện

