extends ../../layouts/default.pug

block main 
    //- banner
    div.banner
        .container-xl.container-lg
            .row
                .col-3.pr-3.pl-0
                    ul.category
                        li
                            a(href="#")
                                i.fa-brands.fa-apple
                                span Iphone
                        li
                            a(href="#")
                                i.fa-solid.fa-s
                                span Samsung
                        li
                            a(href="#")
                                i.fa-brands.fa-xing
                                span Xiaomi
                        li
                            a(href="#")
                                i.fa-brands.fa-opera
                                span Oppo
                        li
                            a(href="#")
                                i.fa-solid.fa-t
                                span Tecno
                        li
                            a(href="#")
                                i.fa-solid.fa-registered
                                span Realme
                        li
                            a.category-none(href="/news")
                                i.fa-solid.fa-newspaper
                                |  Tin tức
                        li
                            a.category-none(href="/events")
                                i.fa-solid.fa-calendar-days
                                |  Sự kiện
                .col-9.p-0
                    .swiper.mySwiper
                        .swiper-wrapper
                            .swiper-slide
                                img(src="client/images/banner-1.webp" alt="Image")
                            .swiper-slide
                                img(src="client/images/banner-2.webp" alt="Image")
                            .swiper-slide
                                img(src="client/images/banner-3.webp" alt="Image")
                            .swiper-slide
                                img(src="client/images/banner-4.webp" alt="Image")
                        .swiper-button-next
                        .swiper-button-prev

    //- hotsale
    div.hot-sale
        .container-xl.container-lg
            .row
                .col-12.text-center.pt-2
                    img(src="client/images/hot-sale.gif" alt="Image")
            .row.pb-5.px-3
                each item in hotSale
                    .col-xl-3.col-lg-3.col-md-6.col-sm-6
                        a.hotsale-item(href=`/products/detail/${item.slug}`)
                            .hotsale-image.text-center
                                img(src=item.thumbnail alt=item.title)
                            h3.hotsale-name #{item.title}
                            .hotsale-price
                                .hotsale-price-new #{item.priceNew.toLocaleString('vi-VN')}đ
                                .hotsale-price-old #{item.price.toLocaleString('vi-VN')}đ
                            .hotsale-star
                                i.fa-solid.fa-star
                                i.fa-solid.fa-star
                                i.fa-solid.fa-star
                                i.fa-solid.fa-star
                                i.fa-solid.fa-star
                            .hotsale-left Giảm #{item.discountPercentage}%
                            .hotsale-right Trả góp 0%

    //- product features
    div.product-features
        .container-xl.container-lg
            .row
                .col-12.d-flex.justify-content-between.align-items-center
                    h2.product-title ĐIỆN THOẠI NỔI BẬT NHẤT
                    a.see-all-features(href="/products") Xem tất cả
            .row
                each item in productFeatured
                    .col-xl-3.col-lg-3.col-md-6.col-sm-6
                        a.product-features-item(href=`/products/detail/${item.slug}`)
                            .product-features-image.text-center
                                img(src=item.thumbnail alt=item.title)
                            h3.product-features-name #{item.title}
                            .product-features-price
                                .product-features-price-new #{item.priceNew.toLocaleString('vi-VN')}đ
                                .product-features-price-old #{item.price.toLocaleString('vi-VN')}đ
                            .product-features-coupon Không phí chuyển đổi khi trả góp 0% qua thẻ tín dụng kỳ hạn 3-6 tháng
                            .product-features-star
                                i.fa-solid.fa-star
                                i.fa-solid.fa-star
                                i.fa-solid.fa-star
                                i.fa-solid.fa-star
                                i.fa-solid.fa-star
                            .product-features-left Giảm #{item.discountPercentage}%
                            .product-features-right Trả góp 0%

    //- product
    div.product.mt-5
        .container-xl.container-lg
            .row
                .col-12.d-flex.justify-content-between.align-items-center
                    h2.product-title SẢN PHẨM MỚI
                    a.see-all-product(href="/products") Xem tất cả
            .row
                each item in productNew
                    .col-xl-3.col-lg-3.col-md-6.col-sm-6.col-12
                        a.product-item(href=`/products/detail/${item.slug}`)
                            .product-image.text-center
                                img(src=item.thumbnail alt=item.title)
                            h3.product-name #{item.title}
                            .product-price
                                .product-price-new #{item.priceNew.toLocaleString('vi-VN')}đ
                                .product-price-old #{item.price.toLocaleString('vi-VN')}đ
                            .product-coupon Không phí chuyển đổi khi trả góp 0% qua thẻ tín dụng kỳ hạn 3-6 tháng
                            .product-star
                                i.fa-solid.fa-star
                                i.fa-solid.fa-star
                                i.fa-solid.fa-star
                                i.fa-solid.fa-star
                                i.fa-solid.fa-star
                            .product-left Giảm #{item.discountPercentage}%
                            .product-right Trả góp 0%

    //- accessory
    div.accessory
        .container-xl.container-lg
            .row.mt-5
                .col-12.d-flex.justify-content-between.align-items-center
                    h2.product-title PHỤ KIỆN
                    a.see-all-accessory(href="#") Xem tất cả
            .row
                .col-xl-3.col-lg-3.col-md-3.col-sm-6.col-12
                    a.accessory-item(href="#")
                        .accessory-image.text-center
                            img(src="client/images/cu-sac-nhanh-apple-iphone-20w.avif" alt="")
                        h3.accessory-name Củ sạc nhanh Apple iPhone 20W Type-C Chính Hãng
                        .accessory-price
                            .accessory-price-new 470.000đ
                            .accessory-price-old 790.000đ
                        .accessory-coupon Không phí chuyển đổi khi trả góp 0% qua thẻ tín dụng kỳ hạn 3-6 tháng
                        .accessory-star
                            i.fa-solid.fa-star
                            i.fa-solid.fa-star
                            i.fa-solid.fa-star
                            i.fa-solid.fa-star
                            i.fa-solid.fa-star
                        .accessory-left Giảm 40%
                        .accessory-right Trả góp 0%
                .col-xl-3.col-lg-3.col-md-3.col-sm-6.col-12
                    a.accessory-item(href="#")
                        .accessory-image.text-center
                            img(src="client/images/cu-sac-nhanh-apple-iphone-20w.avif" alt="")
                        h3.accessory-name Củ sạc nhanh Apple iPhone 20W Type-C Chính Hãng
                        .accessory-price
                            .accessory-price-new 470.000đ
                            .accessory-price-old 790.000đ
                        .accessory-coupon Không phí chuyển đổi khi trả góp 0% qua thẻ tín dụng kỳ hạn 3-6 tháng
                        .accessory-star
                            i.fa-solid.fa-star
                            i.fa-solid.fa-star
                            i.fa-solid.fa-star
                            i.fa-solid.fa-star
                            i.fa-solid.fa-star
                        .accessory-left Giảm 40%
                        .accessory-right Trả góp 0%
                .col-xl-3.col-lg-3.col-md-3.col-sm-6.col-12
                    a.accessory-item(href="#")
                        .accessory-image.text-center
                            img(src="client/images/cu-sac-nhanh-apple-iphone-20w.avif" alt="")
                        h3.accessory-name Củ sạc nhanh Apple iPhone 20W Type-C Chính Hãng
                        .accessory-price
                            .accessory-price-new 470.000đ
                            .accessory-price-old 790.000đ
                        .accessory-coupon Không phí chuyển đổi khi trả góp 0% qua thẻ tín dụng kỳ hạn 3-6 tháng
                        .accessory-star
                            i.fa-solid.fa-star
                            i.fa-solid.fa-star
                            i.fa-solid.fa-star
                            i.fa-solid.fa-star
                            i.fa-solid.fa-star
                        .accessory-left Giảm 40%
                        .accessory-right Trả góp 0%
                .col-xl-3.col-lg-3.col-md-3.col-sm-6.col-12
                    a.accessory-item(href="#")
                        .accessory-image.text-center
                            img(src="client/images/cu-sac-nhanh-apple-iphone-20w.avif" alt="")
                        h3.accessory-name Củ sạc nhanh Apple iPhone 20W Type-C Chính Hãng
                        .accessory-price
                            .accessory-price-new 470.000đ
                            .accessory-price-old 790.000đ
                        .accessory-coupon Không phí chuyển đổi khi trả góp 0% qua thẻ tín dụng kỳ hạn 3-6 tháng
                        .accessory-star
                            i.fa-solid.fa-star
                            i.fa-solid.fa-star
                            i.fa-solid.fa-star
                            i.fa-solid.fa-star
                            i.fa-solid.fa-star
                        .accessory-left Giảm 40%
                        .accessory-right Trả góp 0%

    //- customer
    div.customer
        .container-xl
            .row.text-center
                p.customer-title Cảm ơn HÀNG NGÀN người nổi tiếng cùng HÀNG TRIỆU khách hàng đã và đang ủng hộ chúng tôi
            .row
                .col-xl-3.col-lg-3.col-md-3.col-sm-6.mb-3
                    .customer-image
                        img(src="client/images/customer-1.webp" alt="Image")
                .col-xl-3.col-lg-3.col-md-3.col-sm-6.mb-3
                    .customer-image
                        img(src="client/images/customer-2.webp" alt="Image")
                .col-xl-3.col-lg-3.col-md-3.col-sm-6.mb-3
                    .customer-image
                        img(src="client/images/customer-3.webp" alt="Image")
                .col-xl-3.col-lg-3.col-md-3.col-sm-6.mb-3
                    .customer-image
                        img(src="client/images/customer-4.webp" alt="Image")




