extends ../../layouts/default.pug 

block main
    .user
        .container.my-5 
            .row.justify-content-center
                .col-8 
                    h2(class="text-center user-title") Nhập mã OTP xác thực
                    form(
                        action=`/user/password/otp`
                        method="POST"
                    )
                        .input-group.mb-3.mt-4
                            .input-group-prepend
                                span.input-group-text#email
                                    i.fa-regular.fa-envelope
                            input.form-control(
                                type="email" 
                                placeholder="Email" 
                                aria-label="Email" 
                                aria-describedby="email"
                                name="email"
                                required
                                readonly
                                value=email
                            )
                        .input-group.mb-3.mt-4
                            .input-group-prepend
                                span.input-group-text#otp
                                    i.fa-solid.fa-pen
                            input.form-control(
                                type="text" 
                                placeholder="Mã OTP" 
                                aria-label="otp" 
                                aria-describedby="otp"
                                name="otp"
                                required
                            )
                        div(class="form-group")
                            button(
                                type="submit"
                                class="button-user"
                            ) Xác nhận