extends ../../layouts/default.pug 

block main
    .user
        .container.my-5 
            .row.justify-content-center
                .col-8 
                    h2(class="text-center user-title") Đổi mật khẩu
                    form(
                        action=`/user/password/reset`
                        method="POST"
                    )
                        .input-group.mb-3.mt-4
                            .input-group-prepend
                                span.input-group-text#password
                                    i.fa-regular.fa-envelope
                            input.form-control(
                                type="password" 
                                placeholder="Mật khẩu mới" 
                                name="password"
                                required
                            )
                        .input-group.mb-3.mt-4
                            .input-group-prepend
                                span.input-group-text#email
                                    i.fa-regular.fa-envelope-open
                            input.form-control(
                                type="password" 
                                placeholder="Xác nhận mật khẩu" 
                                name="confirmPassword"
                                required
                            )
                        div(class="form-group")
                            button(
                                type="submit"
                                class="button-user"
                            ) Đổi mật khẩu