.sider
    .inner-menu 
        ul 
            li.nav-link(class=currentPage === 'dashboard' ? 'active' : '')
                i.fa-solid.fa-house
                a(href=`${prefixAdmin}/dashboard`) Tổng quan
            li.nav-link(class=currentPage === 'product' ? 'active' : '') 
                i.fa-solid.fa-mobile
                a(href=`${prefixAdmin}/products`) Bảo trì sản phẩm
            li.nav-link(class=currentPage === 'account' ? 'active' : '') 
                i.fa-solid.fa-circle-user
                a(href=`${prefixAdmin}/accounts`) Bảo trì tài khoản

            